In [1]:
import numpy as np
import pandas as pd

In [2]:
h2 = pd.read_json("../log/h2-performances-processed.json")
h2.tail()

,n,protocol,url,status,baseUnixTime,startMili,endMili,durationMili
50631,999,h2,https://quic.totto.page/js/32k.js,200,1673490238583,111,398,287
50632,999,h2,https://quic.totto.page/js/34k.js,200,1673490238583,111,402,290
50633,999,h2,https://quic.totto.page/js/36k.js,200,1673490238583,111,405,293
50634,999,h2,https://quic.totto.page/js/38k.js,200,1673490238583,111,408,296
50635,999,h2,https://quic.totto.page/js/40k.js,200,1673490238583,112,411,299

In [3]:
h2.dtypes

n                int64
protocol        object
url             object
status           int64
baseUnixTime     int64
startMili        int64
endMili          int64
durationMili     int64
dtype: object

In [4]:
h3 = pd.read_json("../log/h3-performances-prosessed.json")
h3.tail()

,n,protocol,url,status,baseUnixTime,startMili,endMili,durationMili
50995,999,h3,https://quic.totto.page/js/32k.js,200,1673490553156,73,356,283
50996,999,h3,https://quic.totto.page/js/34k.js,200,1673490553156,73,363,289
50997,999,h3,https://quic.totto.page/js/36k.js,200,1673490553156,73,367,293
50998,999,h3,https://quic.totto.page/js/38k.js,200,1673490553156,73,370,296
50999,999,h3,https://quic.totto.page/js/40k.js,200,1673490553156,74,372,298

In [5]:
h3.dtypes

n                int64
protocol        object
url             object
status           int64
baseUnixTime     int64
startMili        int64
endMili          int64
durationMili     int64
dtype: object

In [6]:
print(len(h2[h2["status"] == 200]))
print(len(h3[h3["status"] == 200]))

50636
51000

In [7]:
mins = h2.groupby("n").min()["durationMili"]
maxs = h2.groupby("n").max()["durationMili"]
np.average(maxs - mins)

415.318

In [8]:
mins = h3.groupby("n").min()["durationMili"]
maxs = h3.groupby("n").max()["durationMili"]
np.average(maxs - mins)

705.451

In [9]:
np.average(h3.groupby("n").sum()["durationMili"].to_numpy())

/var/folders/bf/kn4k8swd7vq0tzxz1_jvzsr80000gq/T/ipykernel_77444/1019507649.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  np.average(h3.groupby("n").sum()["durationMili"].to_numpy())

21714.574